<div class='container'>
	<div class='main-container'>
		<h1>{{data.collection.name}}</h1>
		<br />
		{{#if data.collection.tie}}
			<div class='row'>
				<h4>Ties</h4>
				{{#each data.collection.tie}}
					<div class='col-md-4 tie'>
						<a href='/{{this.type}}s/{{this.slug}}'>
							<h5>{{this.name}}</h5>
							{{#if this.images}}
								<img src='{{this.images.0.url}}' alt='{{this.name}}' />
							{{/if}}
						</a>
					</div>
				{{/each}}
			</div>
		{{/if}}
		<br />

		{{#if pocketSquare}}
			<h4>Pocket Squares</h4>
			{{#each}}
				{{this.name}}
			{{/each}}
		{{/if}}
	</div>
</div>