<div class='container'>
	<div class='main-container'>
		<h1>{{data.title}}</h1>
		<br />

		{{#each data.collectionList}}
			<div>
				<a href='/collections/{{this.slug}}'><h5>{{this.name}}</h5>
					{{#if this.image}}
						<img src='{{this.image.url}}' alt='{{this.name}}' />
					{{/if}}
				</a>
			</div>
			<br />
		{{/each}}

	</div>
</div>