<div class='container'>
	<div class='main-container product-detail'>
		<h1>{{data.tie.name}}</h1>
		<br />

		{{#if data.tie.images}}
			<img class='product-image' src='{{data.tie.images.0.url}}' alt='{{data.tie.name}}' />
		{{/if}}

		<div class='product-description'>
			{{#if data.tie.material}}
				<div class='material'>
					Material: {{data.tie.material.name}}
				</div>
			{{/if}}

			{{#if data.tie.pattern}}
				<div class='pattern'>
					Pattern: {{data.tie.pattern.name}}
				</div>
			{{/if}}

			{{#if data.tie.primaryColors}}
				<div class='colors'>
					Primary Colors:
					<ul>
						{{#each data.tie.primaryColors}}
							<li>{{this.name}} <div class='color-square' style='background-color: {{this.colorValue}};'></div></li>
						{{/each}}
					</ul>
				</div>
			{{/if}}

			{{#if data.tie.tertiaryColor}}
				<div class='colors'>
					Secondary Color: {{data.tie.tertiaryColor.name}} <div class='color-square' style='background-color: {{data.tie.tertiaryColor.colorValue}};'></div>
				</div>
			{{/if}}

			<button class='add-to-cart'>Add to Cart: ${{data.tie.price}}</button>
		</div>

		{{#if data.relatedProducts}}
			<div class='row related-products'>
				{{#each}}
					<div class='related-product'>
						<span>{{this.name}}</span>
						{{#if this.images}}
							<img class='product-image' src='{{this.images.0.url}}' alt={{this.name}} />
						{{/if}}
					</div>
				{{/each}}
			</div>
		{{/if}}

	</div>
</div>