<div class='container'>
	<div class='main-container'>
		<h1>{{data.title}}</h1>
		<br />

		<div class='tie-list row'>
			{{#each data.tieList}}
				<div class='tie col-md-4'>
					<a href='/{{this.type}}s/{{this.slug}}'><h5>{{this.name}}</h5>
						{{#if this.images}}
							<img src='{{this.images.0.url}}' alt='{{this.name}}' />
						{{/if}}
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</div>