#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.navbar {
		background-color: #f8f8f8;
		border-color: #e7e7e7;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
	}
}

#body {
	margin-top: 50px;

	.main-container {
		padding: 30px;
		color: inherit;
	 	background-color: #eeeeee;
		
		@media screen and (min-width: 768px) {
			padding: 40px;
		}
	}
}

#footer {

}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
