.product-detail {
	img.product-image {

	}

	.product-description {
		display: inline-block;
		margin-left: 25px;

		.material, .pattern {

		}

		.colors {
			.color-square {
				display: inline-block;
				height: 14px;
				width: 14px;
				border-radius: 3px;
			}
		}

		.add-to-cart {
			margin-top: 15px;
		}
	}
}

.tie {
	a {
		width: 100%;

		img {
			width: inherit;
		}
	}
}